/// Базовые цвета https://colorscheme.ru/color-converter.html
:root {
    --primary-color: #3498db;
    --secondary-color: #22BC3E;
    --secondary-green-color: #7de5a7;
    --discount-color: #E40613;
    --secondary-third-color: #4FD284;
    --background-video-color: #E9FBE5;
    --primary-dark-color: #0D1B0F;
    --secondary-rgba-color: rgba(34, 188, 62, 1);
    --secondary-color-hsl: 159, 80.4%, 43.5%;
    --arrow-slider-color: #8A8A8A;
    --light-text-color: #8A8A8A;
    --label-top-color: #A28FCE;
    --toggler-light-gray-color: #E2E2E2;
    --text-color: #000000;
    --arrow-slider-button-color: #F0F0F0;
    --background-tab-color: #F0F0F0;
    --slider-green-bg-color: #E9FBE5;
    --tertiary-color: #e74c3c;
    --background-color: #ecf0f1;
    --text-color: #2c3e50;

    // Dark theme
    //   --brand-primary: rgb(138, 180, 248);
    // --brand-secondary: rgb(193, 168, 226);
    // --brand-alternative: rgb(136, 186, 191);
    // --background-site: rgb(0, 0, 0);
    // --background-code: rgb(12, 12, 12);
    // --text-body: rgb(222, 222, 222);
    // --text-comment: rgb(170, 170, 170);
    // --text-high-contrast: rgb(230, 230, 230);
    // --text-medium-contrast: rgb(202, 202, 202);
    // --text-low-contrast: rgb(170, 170, 170);
    // --detail-high-contrast: rgb(101, 101, 101);
    // --detail-medium-contrast: rgb(25, 25, 25);
    // --detail-low-contrast: rgb(21, 21, 21);
    // --admonition-note: rgb(138, 180, 248);
    // --admonition-warning: rgb(253, 186, 116);
    // --admonition-danger: rgb(220, 38, 38);
    // --brand-primary-rgb-value: 138, 180, 248;
    // --brand-secondary-rgb-value: 193, 168, 226;
    // --brand-alternative-rgb-value: 136, 186, 191;
    // --background-site-rgb-value: 0, 0, 0;
    // --background-code-rgb-value: 12, 12, 12;
    // --text-body-rgb-value: 222, 222, 222;
    // --text-comment-rgb-value: 170, 170, 170;
    // --text-high-contrast-rgb-value: 230, 230, 230;
    // --text-medium-contrast-rgb-value: 202, 202, 202;
    // --text-low-contrast-rgb-value: 170, 170, 170;
    // --detail-high-contrast-rgb-value: 101, 101, 101;
    // --detail-medium-contrast-rgb-value: 25, 25, 25;
    // --detail-low-contrast-rgb-value: 21, 21, 21;
    // --admonition-note-rgb-value: 138, 180, 248;
    // --admonition-warning-rgb-value: 253, 186, 116;
    // --admonition-danger-rgb-value: 220, 38, 38;

    // Light theme
    --brand-primary: rgb(47, 112, 193);
    --brand-secondary: rgb(116, 97, 195);
    --brand-alternative: rgb(19, 120, 134);
    --background-site: rgb(249, 249, 249);
    --background-code: rgb(244, 244, 244);
    --text-body: rgb(54, 49, 61);
    --text-comment: rgb(99, 94, 105);
    --text-high-contrast: rgb(49, 49, 49);
    --text-medium-contrast: rgb(99, 94, 105);
    --text-low-contrast: rgb(116, 109, 118);
    --detail-high-contrast: rgb(192, 192, 192);
    --detail-medium-contrast: rgb(234, 234, 234);
    --detail-low-contrast: rgb(240, 240, 242);
    --admonition-note: rgb(46, 109, 188);
    --admonition-warning: rgb(255, 196, 9);
    --admonition-danger: rgb(220, 38, 38);
    --brand-primary-rgb-value: 47, 112, 193;
    --brand-secondary-rgb-value: 116, 97, 195;
    --brand-alternative-rgb-value: 19, 120, 134;
    --background-site-rgb-value: 249, 249, 249;
    --background-code-rgb-value: 244, 244, 244;
    --text-body-rgb-value: 54, 49, 61;
    --text-comment-rgb-value: 99, 94, 105;
    --text-high-contrast-rgb-value: 49, 49, 49;
    --text-medium-contrast-rgb-value: 99, 94, 105;
    --text-low-contrast-rgb-value: 116, 109, 118;
    --detail-high-contrast-rgb-value: 192, 192, 192;
    --detail-medium-contrast-rgb-value: 234, 234, 234;
    --detail-low-contrast-rgb-value: 240, 240, 242;
    --admonition-note-rgb-value: 46, 109, 188;
    --admonition-warning-rgb-value: 255, 196, 9;
    --admonition-danger-rgb-value: 220, 38, 38;

}

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$tertiary-color: var(--tertiary-color);
$background-color: var(--background-color);
$text-color: var(--text-color);



$black:                       hsl(0, 0%, 0%);
$gray-darkest:                hsl(0, 0%, 10%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                hsl(0, 0%, 70%);
$gray-lighter:                hsl(0, 0%, 80%);
$gray-lightest:               hsl(0, 0%, 90%);
$white:                       hsl(0, 0%, 100%);

$color-main:                  hsl(208, 98%, 43%);
$color-success:               hsl(120, 39%, 54%);
$color-danger:                hsl(2, 64%, 58%);
$color-warning:               hsl(35, 84%, 62%);



// Семантические цвета

$text-color:                  $gray-darkest;
$text-color--muted:           $gray;
$body-bg:                     #fff;

$link-color:                  $color-main;
$link-color--hover:           darken($color-main, 15%);

$border-color:                $gray-light;
$text-color-muted:            $gray;



// Базовая типографика

$font-size:                   14px;
$font-size--h1:               2.25em;
$font-size--h2:               1.875em;
$font-size--h3:               1.5em;
$font-size--h4:               1.25em;
$font-size--h5:               1em;
$font-size--h6:               1em;
$font-size--small:            0.75em;
$typo-margin-vertical:        1em;

$line-height:                 1.375em;

// $font-family:                 -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
$font-family: -apple-system, BlinkMacSystemFont, 'Manrope', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
$font-family--secondary : -apple-system, BlinkMacSystemFont, 'Tahoma', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
$font-family--serif:          'Georgia', 'Times New Roman', 'Times', serif;
$font-family--monospace:      'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
$font-family--headings:       $font-family;



// Ширины

$screen-xs:                   320px;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;
$screen-xxl:                  1400px;

$container-xs:                ($screen-xs - 50) !default;
$container-sm:                ($screen-sm - 50) !default;
$container-md:                ($screen-md - 48) !default;
$container-lg:                ($screen-lg - 30) !default;
$container-xl:                ($screen-xl - 30) !default;
$container-xxl:               ($screen-xxl - 74) !default;

// $container-sm:                100%;
// $container-md:                100%;
// $container-lg:                $screen-lg - 30;
// $container-xl:                $screen-xl - 30;
// $container-xxl:               $screen-xxl - 30;



// Модульная сетка

$grid-columns:                12;
$grid-gutter-width:           30px;



// Разное

$field-padding-vertical:      0.3em;
$field-padding-horizontal:    0.7em;

$border-radius:               3px;
$opacity:                     0.7;
$transition-time:             0.3s;
$shadow:                      0 4px 2px -2px rgba(0, 0, 0, 0.3);

$menu-desktop-width:          $screen-xl;
$toggler-part-height:         3px;
$toggler-part-bg-color:       #000;

$z-index-modal:               100;
