// В этом файле должны быть стили только для БЭМ-блока off-canvas, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

$gray-darkest:                hsl(0, 0%, 10%);

$opacity:                     0.7 !default;
$transition-time:             0.3s !default;

$toggler-part-height:         3px !default;

// Переменная ширины этого блока
//
$off-canvas-width:            320px !default;

.off-canvas {

  $block-name:                &;

  position: relative;
  overflow: hidden;

  &__aside {
    max-height: 30vh;
    overflow-y: auto;
    backface-visibility: hidden;
    color: $gray-darkest;
    background-color: #fff;
    // color: #fff;
    transition: transform $transition-time ease;

    .js & {
      position: fixed;
      z-index: 2;
      width: $off-canvas-width;
      height: 100%;
      max-height: none;
      transform: translateX(($off-canvas-width * -1));
    }

    a {
      // color: #fff;
      // color: var(--primary-color);

      &:hover,
      &:focus {
        color: #fff;
      }
    }
  }

  &__block {
    padding: 20px;
    padding-top: 10px;
  }

  &__page-content {
    backface-visibility: hidden;
    transition: transform $transition-time ease;
  }

  &__header {
    display: flex;
    margin-bottom: 21px;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__text {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__text__para {
    color: var(--light-text-color);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: $font-family--secondary;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }

  &__text--link {
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
  }
  
  &__text--link:hover {
    color: var(--secondary-color)!important;
  }
  
  &__text--span {
    color: var(--light-text-color)!important;
    font-family: $font-family;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px
  }

  & .btn--off-canvas {
      background-color: var(--secondary-color);
      min-width: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 9px 15px;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 10px;
      border: none;
  }

  &__dropdown {
    width: 100%;
    border: none;
    // outline: 1px dashed palevioletred;
  }

  &__search {
    margin-top: 20px;
    width: 100%;
    position: relative;
  }

  &__search .field-text__input {
    padding-left: 16px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 10px;
    border: none;
    outline: 1px solid var(--secondary-color);
}

  &__search .btn--search {
    position: absolute;
    right: 5px;
    top: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    gap: 10px;
    transform: translateY(-50%);
    background-color: var(--secondary-color);
    color: #fff;
    font-family: $font-family--secondary;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 20px;
  }

  &__search .btn--search span {
    display: none;
  }

  & a span {
    color: #fff;
    font-family: $font-family--secondary;
    font-size: 14px;
    font-weight: 700;
  }

  &__overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
  }



  .js &--open {

    #{$block-name}__overlay {
      position: fixed;
      z-index: 1;
      opacity: 1;
      visibility: visible;
      transition: opacity $transition-time ease;
    }

    #{$block-name}__close {
      z-index: 1;
      opacity: 1;
      visibility: visible;
    }

    #{$block-name}__aside {
      transform: translateX(0);
    }

    #{$block-name}__page-content {
      transform: translateX($off-canvas-width);
    }
  }
}
