.details-menu {
    $block-name:                &;
    margin-top: 20px;

& nav {
    // background-color: #333;
    // color: white;
    width: 200px;
    padding: 10px;
  }

& details {
    margin: 10px 0;
  }

// & summary {
//     cursor: pointer;
//     padding: 10px;
//     background-color: #444;
//     border: none;
//     color: white;
//     font-weight: bold;
//   }

// & summary:hover {
//     background-color: #555;
//   }

&__title {
    margin-bottom: 20px;
    color: $black;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: $font-family;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
}

&__text {
    color: $black!important;
    font-family: $font-family;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}


&__list {
    list-style: none;
    margin-top: -10px;
    padding-left: 20px;
  }

&__item {
    
    padding: 5px 0;
  }

&__link {
    text-decoration: none;
    margin-bottom: 20px;
    color: $black;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: $font-family;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
  }

&__link:hover {
    color: var(--secondary-color)!important;
    // color: white;
  }



}