.embla {
    overflow: hidden;
  }

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}

.embla {
    overflow: hidden;
    width: 100%;
}

.embla__slide {
    width: 100%;
    flex-shrink: 0;
    text-align: center;
}


//*****//

/* Класс для вертикального слайдера */
.embla--vertical .embla__viewport {
    display: flex;
    flex-direction: column; /* Вертикальная прокрутка */
    height: 100%;
    overflow: hidden;
  }

  .embla--vertical .embla__slide {
    width: 100%; /* Слайды должны занимать всю ширину */
    height: 100%; /* Слайды должны занимать всю высоту */
  }

  /* Класс для горизонтального слайдера */
  .embla--horizontal .embla__viewport {
    display: flex;
    flex-direction: row; /* Горизонтальная прокрутка */
    height: 100%;
    overflow: hidden;
  }

  .embla--horizontal .embla__slide {
    width: 100%; /* Слайды должны занимать всю ширину */
    height: 100%; /* Слайды должны занимать всю высоту */
  }


@media (min-width: $screen-md) {
  .embla--second .embla__container {
      // display: block;
      @include row;
  }

  .embla--second .embla__slide {
      @include col(md, 6, 12, 30px);
}

}


@media (min-width: $screen-md) {
    .embla--second .embla__container {
       margin-left: 0;
    }
}
@media (min-width: $screen-lg) {
    .embla--second .embla__viewport {
        display: block;
        height: 100%;
        // overflow-y: scroll; /* Вертикальная прокрутка */
      }
    .embla--second .embla__container {
      margin-left: -15px;
      display: flex;
      flex-direction: column;
    }

    .embla--second .embla__slide {
      max-width: 100%;
      // height: 186px;
      padding-bottom: 30px;

    }
}

.embla--first {
  @include col(lg, 12, 12, 30px);
}

.embla--second {
  @include col(lg, 12, 12, 30px);
}

.embla--second {
  display: none;
}

@media (min-width: 768px) {
  .embla--second {
    display: block;
  }
}

@media (min-width: 992px) {
    .embla--second {
      @include col(lg, 4, 12, 24px);
    }
    .embla--first {
      @include col(lg, 8, 12, 24px);
    }

    .embla--first {
      padding-left: 0;
      padding-right: 0;
    }
}


@media (min-width: $screen-xxl) {

    .embla--first .embla__viewport {
        display: block;
        height: 100%;
        // overflow-y: scroll; /* Вертикальная прокрутка */
      }
}

.embla__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 20px;
  }


// crutch

  .embla--second  .embla__dots {
    display: none;
}

// crutch

.embla__dot {
    width: 20px;
    height: 8px;
    margin: 0 5px;
    border-radius: 20px;
    background-color: #E2E2E2;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .embla__dot.is-selected {
    width: 42px;
    background-color: #22BC3E;
  }

  .embla__dot:hover {
    background-color: #22BC3E;
    opacity: 0.5;
  }

  .embla__nav {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.embla__prev {
    cursor: pointer;
    border: none;
    width: 8px;
    height: 14px;
    background-color: #fff;
    background-image: url(../assets/icons/left-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.embla__next {
    cursor: pointer;
    border: none;
    width: 8px;
    height: 14px;
    background-color: #fff;
    background-image: url(../assets/icons/right-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

// Start third group slider

.embla--third  {
    // outline: 1px dotted red;
    // max-width: 70rem;
    margin: auto;
    margin-top: 30px;
    // background-color: rgb(12, 12, 12);
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
    --slide-spacing-sm: 1.6rem;
    --slide-size-sm: 50%;
    --slide-spacing-lg: 2rem;
    --slide-size-md: calc(100% / 3);
    --slide-size-lg: calc(100% / 4);
  }

  .embla--third .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }

  @media (min-width: 768px) {
    .embla--third .embla__container {
      margin-left: calc(var(--slide-spacing-sm) * -1);
    }
  }

  @media (min-width: 1200px) {
    .embla--third .embla__container {
      margin-left: calc(var(--slide-spacing-lg) * -1);
    }
  }

  .embla--third .embla__slide {
    min-width: 0;
    // flex: 0 0 var(--slide-size);
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing);
    // background: #4FD284;
  }

  @media (min-width: 768px) {
    .embla--third .embla__slide {
      flex: 0 0 var(--slide-size-md);
      padding-left: var(--slide-spacing-sm);
    }
  }

  @media (min-width: 1200px) {
    .embla--third .embla__slide {
      flex: 0 0 var(--slide-size-lg);
      padding-left: var(--slide-spacing-lg);
    }
  }

  .embla--third .embla__slide__number {
    // box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    border-radius: 1.8rem;
    font-size: 16px;
    font-family: $font-family;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    // justify-content: center;
    // height: var(--slide-height);
    user-select: none;
    background: #4FD284;
  }

  .embla--third .embla__slide__title {
    padding-bottom: 12px;
    padding-top: 12px;
    background-color: var(--secondary-green-color);
    filter: blur(0.25px); /* Для размытия на 0.25 пикселя */
    border-radius: 0 0 15px 15px;
    // margin-bottom: 12px;
    width: 100%;
    color: $white;
    font-family: $font-family;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
  }

  .embla--third .embla__slide__img {
    object-fit: cover;
    display: block;
    flex-shrink: 0;
    /* margin-bottom: 20px; */
  }


  .embla--third .embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    // margin-top: 1.8rem;
    display: none; // hidden arrows in video's slider
  }

  .embla--third .embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
  }
  .embla--third .embla__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .embla__button:disabled {
    color: var(--detail-high-contrast);
  }
  .embla--third .embla__button__svg {
    width: 35%;
    height: 35%;
  }
  .embla--third .embla__dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
  }
  .embla--third .embla__dot {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .embla--third .embla__dot:after {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
  }
  .embla--third .embla__dot--selected:after {
    box-shadow: inset 0 0 0 0.2rem var(--text-body);
  }

  // End third group slider

  // Start fourth new-product slider

.embla--fourth  {
    padding-top: 68px;
    padding-bottom: 40px;
    // outline: 1px dotted red;
    // max-width: 70rem;
    margin: auto;
    // background-color: rgb(12, 12, 12);
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
    --slide-spacing-sm: 1.6rem;
    --slide-size-sm: 50%;
    --slide-spacing-lg: 2rem;
    --slide-size-lg: calc(100% / 4);
  }

  .embla--fourth .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }

  .embla--fourth .embla__viewport {
    position: relative;
  }

  // .embla--fourth .embla__controls {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  // }
  .embla--fourth .embla__button--prev {
    position: absolute;
    top: 40%;
    left: 0;
  }

  .embla--fourth .embla__button--next {
    position: absolute;
    top: 40%;
    right: 0;
  }



  @media (min-width: 768px) {
    .embla--fourth .embla__container {
      margin-left: calc(var(--slide-spacing-sm) * -1);
    }
  }

  @media (min-width: 1200px) {
    .embla--fourth .embla__container {
      margin-left: calc(var(--slide-spacing-lg) * -1);
    }
  }

  .embla--fourth .embla__slide {
    min-width: 0;
    flex: 0 0 200px;
    height: 362px;
    // flex: 0 0 var(--slide-size);
    padding-left: var(--slide-spacing);
    // background: #4FD284;
  }

  @media (min-width: 768px) {
    .embla--fourth .embla__slide {
      flex: 0 0 200px;
      // flex: 0 0 var(--slide-size-sm);
      padding-left: var(--slide-spacing-sm);
    }
  }

  @media (min-width: 1200px) {
    .embla--fourth .embla__slide {
      flex: 0 0 200px;
      // flex: 0 0 var(--slide-size-lg);
      padding-left: var(--slide-spacing-lg);
    }
  }

  .embla--fourth .embla__slide__number {
    // box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 176px;
    height: 362px;
    border: 1px solid #E2E2E2;
    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    // height: var(--slide-height);
    user-select: none;
    // background: #4FD284;
  }

  .embla--fourth .embla__slide__number iframe {
    border-radius: 10px;
  }

  .embla--fourth .embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    // margin-top: 1.8rem;
  }

  .embla--fourth .embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
  }

  .embla--fourth .embla__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .embla__button:disabled {
    color: var(--detail-high-contrast);
  }

  .embla--fourth .embla__button__svg {
    width: 35%;
    height: 35%;
  }

  // hidden dots in video's slider
  .embla--fourth .embla__dots {
    // visibility: hidden;
    display: none;
    // display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
  }

  .embla--fourth .embla__dot {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .embla--fourth .embla__dot:after {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
  }
  .embla--fourth .embla__dot--selected:after {
    box-shadow: inset 0 0 0 0.2rem var(--text-body);
  }

  // End fourth new-product slider


  // Start zero new-product slider

  .catalog-embla {
    position: relative;
  }

  .embla--zero  {
    // outline: 1px dotted red;
    // max-width: 70rem;
    margin: auto;
    height: 128px;
    // background-color: rgb(12, 12, 12);
    // --slide-height: 19rem;
    --slide-height: 90px;
    --slide-spacing: 10px;
    // --slide-spacing: 1rem;
    --slide-size: 25%;
    --slide-size-sm: 25%;
    --slide-spacing-sm: 10px;
    // --slide-spacing-sm: 1.6rem;
    --slide-size-md: 14%;
    --slide-spacing-lg: 10px;
    // --slide-spacing-lg: 2rem;
    --slide-spacing-xl: 10px;
    // --slide-spacing-xl: 1rem;
    --slide-size-lg: calc(100% / 10);
    --slide-size-xl: calc(100% / 13);
  }

  .embla--zero .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }

  @media (min-width: 768px) {
    .embla--zero .embla__container {
      margin-left: calc(var(--slide-spacing-sm) * -1);
    }
  }

  @media (min-width: 1200px) {
    .embla--zero .embla__container {
      margin-left: calc(var(--slide-spacing-xl) * -1);
    }
  }

  .embla--zero .embla__slide {
    min-width: 0;
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing);
    // background: #4FD284;
  }

  @media (min-width: 768px) {
    .embla--zero .embla__slide {
      flex: 0 0 var(--slide-size-md);
      padding-left: var(--slide-spacing-sm);
    }
  }

  @media (min-width: 992px) {
    .embla--zero .embla__slide {
      flex: 0 0 var(--slide-size-lg);
      padding-left: var(--slide-spacing-lg);
    }
  }

  @media (min-width: 1400px) {
    .embla--zero .embla__slide {
      flex: 0 0 var(--slide-size-xl);
      padding-left: var(--slide-spacing-lg);
    }
  }

  .embla--zero .embla__slide__number {
    // box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    // border: 1px solid #E2E2E2;
    position: relative;
    margin: 1px;
    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
    user-select: none;
    background: var(--slider-green-bg-color);
  }

  .embla--zero .embla__slide--selected .embla__slide__number {
    outline: 1px solid var(--secondary-color);
  }

  .embla--zero .embla__slide__close {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 7%;
    left: 7%;
    background: var(--secondary-color);
    border: none;
    border-radius: 3px;
  }

  // .embla__slide__close svg {
  //   fill: $white;
  // }

  .embla--zero .embla__slide--selected .embla__slide__close {
    display: block;
  }

  .embla--zero .embla__slide--selected .embla__slide__title {
    color: var(--secondary-color)!important;
  }

  .embla--zero .embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
  }

  .embla--zero .embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
  }

  .embla--zero .embla__button {
    position: absolute;
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--arrow-slider-button-color);;
    // background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 14px;
    height: 90px;
    z-index: 1;
    // border-radius: 50%;
    color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .embla--zero .embla__button--prev {
      top: 0;
      left: -30px;
    }

   .embla--zero .embla__button--next {
      top: 0;
      right: -30px;
    }

  .embla__button:disabled {
    color: var(--detail-high-contrast);
  }

  .embla--zero .embla__button__svg {
    width: 80%;
    height: 80%;
    // color: var(--arrow-slider-color);
  }

  .embla--zero .embla__dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
  }

  .embla--zero .embla__dot {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .embla--zero .embla__dot:after {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
  }

  .embla--zero .embla__dot--selected:after {
    box-shadow: inset 0 0 0 0.2rem var(--text-body);
  }

  .embla--zero .embla__slide__title {
    font-family: $font-family;
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    color: $black;
  }

  .embla--zero .embla__slide__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 123px;
  }

  .embla--zero .embla__slide__img  {
    width: auto;
  }


// }

  // End zero new-product slider


  // Start five new-product slider

.embla--five  {
  // outline: 1px dotted red;
  // max-width: 70rem;
  margin: 40px auto;
  // background-color: rgb(12, 12, 12);
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 33%;
  // --slide-size: 100%;
  --slide-spacing-sm: 1.6rem;
  --slide-size-sm: 25%;
  --slide-spacing-lg: 2rem;
  --slide-size-lg: calc(100% / 5);
  --slide-size-xl: calc(100% / 6);
  --slide-size-xxl: calc(100% / 8);
}

.embla--five .card__img-wrap {
  display: block;
  flex-shrink: 1;
  margin-bottom: 0;
}

.embla--five .embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}


@media (min-width: 768px) {
  .embla--five .embla__container {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }
}

@media (min-width: 1200px) {
  .embla--five .embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
}

.embla--five .embla__slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
  // background: #4FD284;
}

@media (min-width: 768px) {
  .embla--five .embla__slide {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}

@media (min-width: 992px) {
  .embla--five .embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}

@media (min-width: 1200px) {
  .embla--five .embla__slide {
    flex: 0 0 var(--slide-size-xl);
    padding-left: var(--slide-spacing-lg);
  }
}

@media (min-width: 1400px) {
  .embla--five .embla__slide {
    flex: 0 0 var(--slide-size-xxl);
    padding-left: var(--slide-spacing-lg);
  }
}


.embla--five .embla__slide__number {
  // box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border: 1px solid #E2E2E2;
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 114px;
  // height: var(--slide-height);
  user-select: none;
  // background: #4FD284;
}

.embla--five .embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  // margin-top: 1.8rem;
}

.embla--five .embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.embla--five .embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
}

.embla--five .embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla--five .embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  // margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
  display: none; // hidden dots in video's slider
}

.embla--five .embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.embla--five .embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}

.embla--five .embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

.embla--five .embla__viewport {
  position: relative;
}

.embla--five .embla__button--next {
  position: absolute;
  top: 30%;
  right: 0;
}

.embla--five  button.embla__button.embla__button--prev {
  position: absolute;
  top: 30%;
  left: 0;
}

// End five new-product slider


  // Start sixth new-product slider

  .embla--sixth  {
    outline: 1px dotted red;
    // max-width: 70rem;
    margin: auto;
    // background-color: rgb(12, 12, 12);
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
    --slide-spacing-sm: 1.6rem;
    --slide-size-sm: 50%;
    --slide-spacing-lg: 2rem;
    --slide-size-lg: calc(100% / 4);
  }

  .embla--sixth .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  @media (min-width: 768px) {
    .embla--sixth .embla__container {
      margin-left: calc(var(--slide-spacing-sm) * -1);
    }
  }
  @media (min-width: 1200px) {
    .embla--sixth .embla__container {
      margin-left: calc(var(--slide-spacing-lg) * -1);
    }
  }
  .embla--sixth .embla__slide {
    min-width: 0;
    flex: 0 0 var(--slide-size);
    padding-left: var(--slide-spacing);
    // background: #4FD284;
  }
  @media (min-width: 768px) {
    .embla--sixth .embla__slide {
      flex: 0 0 var(--slide-size-sm);
      padding-left: var(--slide-spacing-sm);
    }
  }
  @media (min-width: 1200px) {
    .embla--sixth .embla__slide {
      flex: 0 0 var(--slide-size-lg);
      padding-left: var(--slide-spacing-lg);
    }
  }
  .embla--sixth .embla__slide__number {
    // box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    border: 1px solid #E2E2E2;
    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
    user-select: none;
    // background: #4FD284;
  }
  .embla--sixth .embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
  }
  .embla--sixth .embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
  }
  .embla--sixth .embla__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .embla__button:disabled {
    color: var(--detail-high-contrast);
  }
  .embla--sixth .embla__button__svg {
    width: 35%;
    height: 35%;
  }
  .embla--sixth .embla__dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
  }
  .embla--sixth .embla__dot {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .embla--sixth .embla__dot:after {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
  }
  .embla--sixth .embla__dot--selected:after {
    box-shadow: inset 0 0 0 0.2rem var(--text-body);
  }

  // End sixth new-product slider

  // Embla product slider

  .embla--product .embla {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
  }

  .embla__viewport {
    overflow: hidden;
  }

  .embla--product .embla__container {
    display: flex;
  }

  .embla--product .embla__slide {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
  }

  .embla__slide img {
    width: 100%;
    display: block;
  }

  /* Стили для миниатюр */
  .embla-thumbnails {
    display: flex;
    justify-content: flex-start;
    margin-left: -15px;
    margin-right: -15px;
    gap: 10px;
    overflow: hidden;
//
    overflow-x: auto; /* Это включает горизонтальный скролл */
    padding-bottom: 10px; /* Чтобы не перекрывалось содержимое при скролле */
    scroll-snap-type: x mandatory; /* Для синхронизации скроллинга с слайдерами */
    -webkit-overflow-scrolling: touch; /* Плавный скролл на мобильных устройствах */

    @media (min-width: 992px) {
      justify-content: center;
    }
  }

  .embla-thumbnail {
    flex-shrink: 0;
    background: transparent;
    border: 1px solid transparent;
    padding: 5px;
    cursor: pointer;
    flex-shrink: 0; /* Предотвращает сжимание миниатюр */
    scroll-snap-align: center; /* Выравнивание миниатюры по центру */
  }

  .embla-thumbnails::-webkit-scrollbar {
    height: 8px; /* Высота полосы прокрутки */
  }

  .embla-thumbnails::-webkit-scrollbar-thumb {
    background-color: var(--detail-medium-contrast); /* Цвет ползунка */
    border-radius: 4px; /* Закругление углов ползунка */
  }

  .embla-thumbnails::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

  .embla-thumbnails::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  .embla-thumbnail img {
    width: 86px!important;
    height: 86px!important;
    // height: auto;
    border: 2px solid var(--toggler-light-gray-color);
    border-radius: 5px;
    opacity: 0.7;
    transition: opacity 0.3s;

    @media (min-width: 768px) {
      width: 53px!important;
      height: 53px!important;
    }

    @media (min-width: 992px) {
      width: 60px!important;
      height: 60px!important;
    }
  }

  .embla-thumbnail:hover img,
  .embla-thumbnail.active img {
    opacity: 1;
    border: 2px solid var(--secondary-third-color);
    border-radius: 5px;
    // border: 2px solid #000; /* Или другой стиль для выделения */
  }

  .product__photo-inner .embla__controls {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
  }

  .product__photo-inner .embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
  }

  .product__photo-inner .embla__button {
    position: absolute;
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--arrow-slider-button-color);;
    // background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 14px;
    height: 60px;
    z-index: 1;
    // border-radius: 50%;
    color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      width: 13px;
      height: 54px;
    }

    @media (min-width: 992px) {
      width: 14px;
      height: 60px;
    }
  }

  .product__photo-inner .embla__button--prev {
      top: -115px;
      left: -15px;

      @media (min-width: 768px) {
        top: -100px;
      }

      @media (min-width: 992px) {
        top: -97px;
      }
    }

   .product__photo-inner .embla__button--next {
      top: -115px;
      right: -15px;

      @media (min-width: 768px) {
        top: -100px;
      }

      @media (min-width: 992px) {
        top: -97px;
      }
    }

  .embla__button:disabled {
    color: var(--detail-high-contrast);
  }

  .product__photo-inner .embla__button__svg {
    width: 80%;
    height: 80%;
    // color: var(--arrow-slider-color);
  }

