.about-us {
  $block-name: &; // #{$block-name}__element
  margin-top: 20px;
  background: var(--background-video-color);
  min-height: 766px;

  @media (min-width: 768px) {
    min-height: 607px;
  
  }
  @media (min-width: 1400px) {
    min-height: 462px;
  }


    &__inner {
      padding-top: 40px;
    }

    @media (min-width: 768px) {
      &__inner {
          position: relative;
          @include row();
          padding-top: 80px;
          max-height: 607px;
      }
    }
    @media (min-width: 1400px) {
      &__inner {
          // padding-top: 80px;
          max-height: 462px;
      }
    }

    &__features-wrap {
      margin-top: 20px;
      @include row;
      // flex-wrap: nowrap; // запрет переноса элементов на новую строку
      // overflow: hidden; // скрытие элементов, выходящих за границы контейнера
      margin-left: 0;
      margin-right: 0;

      .card {
          @include col(2, 4, 20px);
      }

      @media (min-width: 768px) {
          .card {
              @include col(md, 6, 12, 30px);
          }
      }

      @media (min-width: 1200px) {
          .card {
              @include col(xl, 4, 8, 24px);
              // flex: 0 0 45%;
              // max-width: 50%;
          }
      }

      @media (min-width: 1400px) {
          .card {
              @include col(xxl, 2, 8, 24px);
              // flex: 0 0 45%;
              // max-width: 50%;
          }
      }
  }

  @media (min-width: 768px) {
    &__features-wrap {
        @include col(md, 7, 12, 30px);
        padding-left: 0!important;
        margin-top: 25px;
    }
  }

  @media (min-width: 1200px) {
    &__features-wrap {
        @include col(lg, 8, 12, 30px);
    }
  }

  &__features-wrap .card__title {
      margin: 0;
      font-family: $font-family--secondary;
      color: var(--secondary-color);
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }

  &__features-wrap .card__descr {
      margin: 0;
      margin-bottom: 20px;
      padding-left: 5px;
      color: $black;
      font-family: $font-family;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }


  &__features-wrap .card__img-wrap {
      max-width: 100%;
      max-width: 100%;
      width: 100%;
      min-height: 89px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // border: 1px solid #e2e2e2;
      border-radius: 10px;
      background: $white;
  }

  &__features-wrap .card__img {
      margin: 0 auto;
  }

  &__features-wrap .card__inner {
      padding: 0;
      // padding-top: 16px;
      // padding-bottom: 16px;
      align-items: center;
      border: none;
  }

  &__title {
    font-family: $font-family--secondary;
    color: var(--secondary-color);
    text-align: left;
    padding-left: 10px;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  @media (min-width: 768px) {
    &__title {
        position: relative;
        display: block;
        @include col(md, 5, 12, 30px);
        // outline: 1px dotted red;
    }
  }

  @media (min-width: 1200px) {
    &__title {
        position: relative;
        display: block;
        @include col(lg, 4, 12, 30px);
        // outline: 1px dotted red;
    }
  }

  &__descr {
    margin-top: 20px;
    font-family: $font-family;
    color: $black;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  @media (min-width: 768px) {
    &__descr {
      position: relative;
      top: -320px;
      left: 15px;
      max-width: 40%;
      line-height: 26px!important;
    }
  }
  
  @media (min-width: 992px) {
    &__descr {
        top: -20px;
        left: 420px;
        max-width: 55%;
    }
  }
 
  @media (min-width: 1200px) {
    &__descr {
        top: 0;
        left: 400px;
    }
  }

  @media (min-width: 1400px) {
    &__descr {
        top: 0;
        left: 455px;
        max-width: 60%;
    }
  }

  &__all {
    position: relative;
    // flex-grow: 1;
    text-align: right;
    color: $black;
    font-family: $font-family--secondary;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: inline-flex;
    height: 52px;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px solid $black;
  }

  @media (min-width: 768px) {
    &__all {
        position: absolute;
        top: 500px;
        left: 18px;
    }
  }

  @media (min-width: 1400px) {
    &__all {
        position: absolute;
        top: 350px;
    }
  }

  &__all::after {
    content: '';
    position: absolute;
    display: block;
    top: 18px;
    right: 0;
    width: 13px;
    height: 15px;
    background: url('../img/all-arrow-icon.svg') no-repeat;
  }

}