.additional-block {
    $block-name:                &;

    margin-top: 10px;
    padding: 20px;
    border: 1px solid var(--light-text-color);
    border-radius: 10px;

    &__inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    &__inner--location {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__item {
        color: var(--light-text-color);
        font-family: $font-family;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        gap: 10px;
    }

    &__item--location {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__sub-item {
        display: flex;
        flex-direction: column;
    }
    
    &__sub-item.row {
        width: 110px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item--descr  {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        color: var(--light-text-color);
        font-family: $font-family;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
   
    &__link {
        color: var(--secondary-third-color);
        font-family: $font-family;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        
    }

    &__desc {
        color: var(--light-text-color);
        font-family: $font-family;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }
    
    &__desc-01 {
        color: var(--light-text-color);
        font-family: $font-family;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__desc-02 {
        color: $black;
        font-family: $font-family;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__desc-03 {
        color: $black;
        font-family: $font-family;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}