// В этом файле должны быть стили только для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.page-header {
    position: relative;
    margin-top: 10px;
    // outline: 1px dotted plum;
    @include container;
    outline: none!important;
    display: flex;
    // width: 1296px;
    height: 60px;
    gap: 10px;
    // justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;

    @media (min-width: 1400px) {
        width: 1296px;       
    }
    
}

.page-header__burger.burger {
    width: 48px;
    height: 48px;
    padding: 10px 14px 10px 14px;
    outline: 1px solid var(--secondary-color);
    border-radius: 4px;
}

.page-header__burger.burger>span {
    width: 21px;
    height: 2px;
}

.page-header__burger.burger>span:before {
    top: -7px;
    height: 2px;
}

.page-header__burger.burger>span:after {
    top: 7px;
    height: 2px;
}

.page-header__catalog.dropdown  {
    display: none;
}

@media (min-width: $screen-lg) {
    .page-header__catalog.dropdown  {
        display: block;
    }
}

.page-header__catalog .btn {
    background-color: var(--secondary-color);
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 15px;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border: none;
}

.page-header__catalog span {
    color: $white;
    font-family: $font-family--secondary;
    font-size: 14px;
    font-weight: 700;
}

.page-header__lang-inner {
    width: 146px;
    display: flex;
    justify-content: space-around;
}

.page-header__search {
    width: 100%;
    position: relative;
}

.page-header__search .btn--search {
    position: absolute;
    right: 5px;
    top: 50%;
    width: 30px;
    height: 30px;
    // display: flex;
    align-items: center;
    gap: 10px;
    transform: translateY(-50%);
    background-color: var(--secondary-color);
    color: $white;
    font-family: $font-family--secondary;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    border: none;
    padding: 0;
    // padding: 0.5em 1em;
    // padding-left: 16px;
    // padding-right: 16px;
    // padding-top: 5px;
    // padding-bottom: 5px;
    cursor: pointer;
    border-radius: 20px;
}

.btn--search span {
    display: none;
}

@media (min-width: 768px) {
    .page-header__search .btn--search { 
        right: 10px;
        display: flex;
        width: auto;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
    }    
}

@media (min-width: 768px) {
    .btn--search span {
        display: block;
    }
}


.page-header__search .field-text__input-wrap {

}

.page-header__search .field-text__input {
    padding-left: 16px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 10px;
    border: none;
    outline: 1px solid var(--secondary-color);
    // border: 1px solid var(--secondary-color);
}

.page-header__search .field-text__input:active {
    outline: 0;
    box-shadow: 0 0 0 2px var(--secondary-color);
    // box-shadow: 0 0 0 2px rgba(2.193, 116.8138, 217.107, .7);
}

// .page-header__search .field-text__input:focus {
//     outline: 0;
//     border: none;
//     box-shadow: 0 0 0 2px var(--secondary-color);
// }

.page-header__search .field-text__input::placeholder{
    font-family: $font-family;
    color: var(--light-text-color);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

@media (min-width: 768px) {
    .page-header__search .field-text__input::placeholder{
        font-size: 12px;
    }
}

.page-header__search.field-text {
    margin-bottom: 0;
}

.page-header__img img {
    width: auto;
    height: auto;
    display: block; /* Убирает пробелы под изображением */
}

.page-header__logo .logo{
    width: auto;
}

@media (max-width: 767px) {
    .page-header__logo.logo {
        min-width: 37px;
    }    
}


@media (min-width: 768px) {
    .page-header__logo.logo {
        min-width: 170px;
    }    
}

.page-header__toggler.field-toggler {
    display: none;
    margin-bottom: 0;
    cursor: pointer;
}

@media (min-width: 1200px) {
    .page-header__toggler.field-toggler {
        display: block;
    }
}

.page-header__toggler .field-toggler {
    cursor: pointer;
}


.page-header__toggler .field-toggler__name-text:after {
    top: -5px;
    background-image: url('../img/toggler-light-icon.svg');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}

.page-header__toggler .field-toggler__name-text:before {
    top: -5px;
}

.page-header__toggler .field-toggler__name-text:before {
    width: 45px;
    height: 24px;
    border-radius: 12px;
    background: var(--toggler-light-gray-color);
    border: none;
}

.page-header__toggler .field-toggler__name-text:after {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: $white;
    border: none;
}

.page-header__toggler .field-toggler__input:checked + .field-toggler__name-text::after {
    left: 5px; /* Изменение позиции после активации чекбокса */
    background-image: url('../img/toggler-dark-icon.svg');
    background-repeat: no-repeat;
  }

.page-header__toggler {
    @at-root input:checked ~ &:after {
    transform: translate(px-to-em(34), -50%);
    }
}


.page-header__region.field-select {
    display: none;
}

@media (min-width: 1200px) {
    .page-header__region.field-select {
        display: block;
    }
}

.page-header__region .field-select__select-wrap {
    width: 76px;
    height: 27px;
}

.page-header__region .field-select__select {
    width: 76px;
    // height: 15px;
    font-family: $font-family;
    color: var(--secondary-color);
    outline: 1px solid var(--light-text-color);
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
}

.page-header__lang.field-select {
    display: none;
}

@media (min-width: 1200px) {
    .page-header__lang.field-select {
        display: block;
    }
}


label.page-header__region.field-select {
    margin-bottom: 0;
}

label.page-header__lang.field-select {
    margin-bottom: 0;
}


/* Обертка для select */
.page-header__lang .field-select__select-wrap,
.page-header__region .field-select__select-wrap {
    position: relative; /* Позиционируем стрелку относительно родителя */
    width: 100%; /* Ширина select */
    display: inline-block; /* Делаем inline-block для правильного выравнивания */
  }
  
  /* Стили для select */
  .page-header__lang .field-select__select {
    width: 65px; /* Занимает всю доступную ширину */
    font-family: -apple-system, BlinkMacSystemFont, Manrope, Ubuntu, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    color: var(--secondary-color);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    padding: 6px 30px 6px 10px; /* Паддинги для текста, слева и справа */
    background-color: transparent; /* Прозрачный фон */
    outline: 1px solid var(--light-text-color);
    border: none;
    border-radius: 5px; /* Радиус углов */
    -webkit-appearance: none; /* Для Webkit браузеров */
    -moz-appearance: none; /* Для Firefox */
    appearance: none; /* Для других браузеров */
    z-index: 2; /* Убедитесь, что select выше стрелки */
    cursor: pointer;
  }
  
  /* Псевдоэлемент для флага */
  .page-header__region .field-select__select,
  .page-header__lang .field-select__select {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 10px;
    // border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
  }
  
  .page-header__region .field-select__selected,
  .page-header__lang .field-select__selected  {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
  }

//   .page-header__region .field-select__selected span,
//   .page-header__lang .field-select__selected span  {
//     color: var(--secondary-color)!important;
//     display: flex;
//     align-items: center;
//   }
  
  
  .page-header__region .field-select__selected .field-select__icon {
    width: 16px;
    height: 12px;
    margin-right: 8px;
  }
  
  .page-header__region .field-select__options,
  .page-header__lang .field-select__options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    // color: black;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .page-header__lang .field-select__options span {
    color: var(--light-text-color);
  }

  .page-header__region .field-select__options.open,
  .page-header__lang .field-select__options open {
    display: block;  /* Показываем список, если класс open добавлен на .field-select__options */
  }

  .page-header__region .field-select__option,
  .page-header__lang .field-select__option {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .page-header__region .field-select__option:hover,
  .page-header__lang .field-select__option:hover  {
    background-color: #f0f0f0;
  }
  
  .page-header__region .field-select__option .field-select__icon {
    width: 16px;
    height: 12px;
    margin-right: 8px;
  }
  
  .page-header__region .field-select__select.open .field-select__options,
  .page-header__lang .field-select__select.open .field-select__options {
    display: block;
  }


  /* Псевдоэлемент для стрелки */
  .page-header__lang .field-select__select-wrap::after,
  .page-header__region .field-select__select-wrap::after {
    content: "";
    position: absolute;
    top: 50%; /* Центрируем по вертикали */
    right: 10px; /* Отступ справа для стрелки */
    width: 12px; /* Размер стрелки */
    height: 12px; /* Размер стрелки */
    background: url('../img/arrow-down-icon.svg') no-repeat center center; /* Фоновое изображение стрелки */
    background-size: contain; /* Масштабируем изображение стрелки */
    transform: translateY(-50%); /* Центрируем по вертикали */
    pointer-events: none; /* Стрелка не перехватывает клики */
    z-index: 1; /* Стрелка будет поверх, но ниже select */
  }

  /* Когда select в фокусе, стрелка поворачивается */
.page-header__lang .field-select__select:focus + .field-select__select-wrap::after {
    transform: rotate(180deg) translateY(-50%); /* Поворот стрелки при фокусе */
  }

  .page-header__lang .field-select__select-wrap.open::after {
    transform: rotate(180deg);
  }
  
.page-header__lang .field-select__name, .page-header__region .field-select__name {
    position: relative;
    text-align: center;
    // margin-bottom: 0.8em;
}
 
.page-header__lang .field-select__name span,
.page-header__region .field-select__name span {
    position: absolute;
    padding: 2px 5px;
    top: -22px;
    left: 15px;
    color: var(--light-text-color);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: $font-family;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    background: var(--arrow-slider-button-color);
}

.page-header__lang .field-select__name span::after,
.page-header__region .field-select__name span::after {
    content: '';
    position: absolute;
    top: 115%;
    left: 35%;
    // right: -5px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--arrow-slider-button-color);
}   

  .page-header__login {
    display: none;
  }

  @media (min-width: 768px) {
    .page-header__login {
        display: block;
    }
}


  .page-header__login img {
    max-width: none;
  }

  .page-header__cart img {
    max-width: none;
  }

  .page-header__login {
    cursor: pointer;
  }

  .page-header__cart {
    position: relative;
    cursor: pointer;
  }

  .page-header__cart .page-header__cart-count {
    position: absolute;
    top: 1px;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: var(--secondary-color);
    color: $white;
    font-family: $font-family--secondary;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
  }  