// В этом файле должны быть стили только для БЭМ-блока tabs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

$gray-lightest:               hsl(0, 0%, 90%) !default;

$text-color:                  hsl(0, 0%, 10%) !default;
$text-color--muted:           hsl(0, 0%, 50%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

$line-height:                 1.375em !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

.tabs {

  $block-name:                &;

  margin-top: $line-height;
  margin-bottom: $line-height;

  &__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    cursor: pointer;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    .no-js & {
      display: none;
    }

    &:after {
      content: '';
      flex-grow: 1;
      height: 1px;
      // background-color: $border-color;
    }
  }

  &__link-wrap {
    position: relative;
    // border-top: 1px solid $border-color;
    // border-bottom: 1px solid $border-color;
    // border: 1px solid $border-color;

    &:not(:last-child) {
      border-right: none;
    }

    &--active {

      #{$block-name}__link {
        color: var(--secondary-color);
        // color: $text-color;
        background-color: #fff;
      }
    }

    &--active .tabs__link {
      position: relative;
      color: var(--secondary-color)!important;
      // border-color: var(--secondary-color)!important;
      // color: var(--secondary-color)!important;
      // border-bottom: solid 3px transparent!important;
    }

    &--active .tabs__link::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background-color: var(--secondary-color);
      bottom: -2px;
      left: 0;
    } 
  }

  &__link {
    display: block;
    padding: 10px;
    // padding: $field-padding-vertical $field-padding-horizontal;
    color: var(--light-text-color);
    font-family: $font-family;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 133.333% */
    // color: $text-color--muted;
    text-decoration: none;
    // background-color: $gray-lightest;`

    &:hover,
    &:focus {
      color: $text-color--muted;
      background: #E9FBE5;
    }
  }

  &__content-wrapper {
    display: block;
    padding: $field-padding-vertical $field-padding-horizontal;
    // border: 1px solid $border-color;
    border-top: none;
  }

  &__content-item {
    display: none;
    margin-bottom: 30px;

  //   [id^="tab"]:not([id="tab00"]):not([id="tab01"]) {
  //     background-color: var(--background-tab-color); /* Замените на нужный вам цвет */
  // }

    .js & {
      display: none;
    }

    &--active {
      display: block;
      .js & {
        display: block;
      }
    }
  }

  &__content-wrap {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid var(--light-text-color);
    border-radius: 5px;
    background-color: var(--background-tab-color); /* Замените на нужный вам цвет */
    
  }

  &__content-title {
    margin: 0;
    margin-bottom: 20px;
    color: var(--secondary-color);
    font-family: $font-family--secondary;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__content-description {
    color: $black;
    font-family: $font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__content-heading {
    color: $black;
    font-family: $font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__content-descr {
    color: $black;
    font-family: $font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__features-list {
    list-style: none;
    padding-left: 0; /* Отступ слева для маркера */
  
  }
  
  &__features-item {
    position: relative;
    padding: 15px 16px;
    padding-left: 30px;
    background: white;
    margin-bottom: 3px;
    color: $black;
    font-family: $font-family;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  
  }

  &__features-item::before {
    position: absolute;
    top: 20px;
    left: 10px;
    content: '';
    display: inline-block;
    width: 8px; /* Размер маркера */
    height: 8px;
    background-color: var(--secondary-color); /* Цвет маркера */
    border-radius: 50%; /* Сделать маркер круглым */
    margin-right: 10px;
  }

  &__composition-list {
    display: flex;
    gap: 14px;
    list-style: none;
    padding-left: 0;
  
  }

  &__composition-item {
    padding: 20px;
    background: white;
    margin-bottom: 3px;
    color: $black;
    font-family: $font-family;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  
  }

}

// [id^="tab"]:not([id="tab00"]):not([id="tab01"]) {
//   background-color: var(--background-tab-color); /* Замените на нужный вам цвет */
// }