.selected-filters   {
    $block-name:                &;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: baseline;

    &__list {
        display: none;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;        
    }

    &__item {
        padding: 7px 10px;
        display: flex;
        align-items: baseline;
        gap: 5px;
        background: var(--arrow-slider-button-color);
        border-radius: 4px;
        color: #000;
        text-align: center;
        font-family: Manro$font-family;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
    }

    &__reset {
        display: flex;
        align-items: baseline;
        gap: 8px;
        min-width: 130px;
        padding: 6px 12px;
        color: #000;
        background: $white;
        border-radius: 20px;
        border: 1px solid $black;
        text-align: center;
        font-family: $font-family--secondary;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
    }
}   