.price-block {
  $block-name:                &;

  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: var(--background-video-color);
  border-radius: 10px;
  
  @media (min-width: 768px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__price {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 160px;

    @media(min-width: 768px) {
        width: 100%;
    }
  }

  &__price-btn-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    gap: 20px;
    

    @media(min-width: 992px) {
      flex-direction: row;
      align-items: center;
      gap: 0;
    }
  }
  
  &__status {
    display: flex;
    gap: 5px;
    color: var(--secondary-third-color);
    font-family: $font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  &__descr {
    color: $black;
    font-family: $font-family;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #333;
    // margin-top: 10px;
  }
  
  &__price-new {
    margin-right: 10px;
    color: $black;
    font-family: $font-family--secondary;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  &__price-old {
    color: var(--light-text-color);
    font-family: $font-family;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: line-through;
  }

  &__price-old-discount {
    color: $white;
    background: var(--discount-color);
    padding: 2px 10px;
    border-radius: 25px;
    font-family: $font-family;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__btns {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
  }
}