.payment-icons {
    $block-name:                &;

    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    @media (min-width: 480px) {
        flex-wrap: nowrap;
    }
    
    @media (min-width: 768px) {
        gap: 5px;
    }

    @media (min-width: 992px) {
        gap: 10px;
    }

    &__item {
        width: 56px;
        height: 26px;
        border-radius: 5px;
        background: var(--background-video-color);
        padding: 6px 6px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: 768px) {
            width: 49px;
            height: 23px;
        }
        
        @media (min-width: 992px) {
            width: 56px;
            height: 26px;
        }
    }    

    &__item {
        img {
            max-width: 100%;
            height: auto;
        }
    }


}