// В этом файле должны быть стили только для БЭМ-блока alert, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Не пишите здесь другие селекторы.

$gray-lighter:                hsl(0, 0%, 80%) !default;
// $gray-lightest:               hsl(0, 0%, 90%) !default;
$gray-lightest:               #22BC3E !default;
$text-color:                  hsl(0, 0%, 10%) !default;
$line-height:                 1.375em;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

$border-radius:               3px !default;

.btn {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: $field-padding-vertical  $field-padding-horizontal;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: 1em;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  border-radius: $border-radius;
  border: 1px solid $gray-lighter;
  background-color: $gray-lightest;
  background-image: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
    background-color: darken($gray-lightest, 10%);
    border-color: darken($gray-lighter, 12%);
  }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: $opacity;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }



  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     border-color: $color-main;
  //   }
  // }

  &--submit {
    padding: 14px 24px;
    color: $white;
    background: var(--secondary-color);
    font-family: $font-family--secondary;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    border: none;
    border-radius: 25px;
  }
  
  &--filters {
    padding: 14px 24px;
    color: $white;
    background: var(--secondary-color);
    font-family: $font-family--secondary;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    border: none;
    border-radius: 25px;
  }

  &--reset {
    display: flex;
    align-items: baseline;
    gap: 8px;
    // min-width: 130px;
    padding: 14px 24px;
    color: #000;
    background: #fff;
    border-radius: 25px;
    border: 1px solid #000;
    text-align: center;
    font-family: $font-family--secondary;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }
  
  &--ok {
    padding: 9px 22px;
    color: $black;
    background: transparent;
    font-family: $font-family--secondary;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    border: 1px solid $black;
    border-radius: 25px;
  }

  &--reload {
    margin-top: 20px;
    margin-bottom: 40px;
    color: var(--secondary-color);
    text-align: center;
    font-family: $font-family;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    background: $white;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    fill: var(--secondary-color);
  }

  &--reload:hover {
    color: var(--secondary-third-color);
    border-color: var(--secondary-third-color);
    background: $white;
    fill: red;
  }
  &--reload:hover .reload {
    fill: red!important;
  }

  &--add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 30px;
    color: $white;
    background: var(--secondary-color);
    font-family: $font-family--secondary;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    border: none;
    border-radius: 25px;
  }
  
  &--promo {
    margin-top: 16px;
    width: 100%;
    text-align: center;
    padding: 14px 24px;
    color: $black;
    background: var(--background-tab-color);
    border-radius: 25px;
    border: 1px solid #000;
    text-align: center;
    font-family: $font-family--secondary;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
  }

  &--cart-submit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px 24px;
    color: $white;
    background: var(--secondary-color);
    font-family: $font-family--secondary;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    border: none;
    border-radius: 25px;
  }
  
}
