.product {

    $block-name:                &;

    &__photo-wrap {
        @include row;
        // margin-left: 0;
        // margin-right: 0;
        flex-wrap: wrap;
        
        @media(min-width: 768px) {
            flex-wrap: nowrap;
        }

    }
    
    &__photo-inner {
        @media(min-width: 768px) {
            @include col(sm, 6, 12, 30px);
        }
    }
    
    &__price-inner {
        @media(min-width: 768px) {
            @include col(sm, 6, 12, 30px);
        }
    }

    &__descr {
        margin-top: 20px;
        color: #000;
        font-family: $font-family;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: #333;
    }

    &__price {
        font-size: 16px;
        color: #333;
        margin-top: 10px;
    }

    &__title {
        margin-top: 20px;
        font-size: 18px;
        font-weight: bold;
        color: #000;
    }

    &__photo-inner img {
        width: 354px;
        height: 354px;
        object-fit: cover;

        @media(min-width: 768px) {
            width: 283px;
            height: 283px;
        }

        @media(min-width: 992px) {
            width: 532px;
            height: 532px;
        }
    }
    
}